h1 {
    color: brown;
    border: 2px solid yellowgreen;
    padding: 10px;
    text-align:center ;
}
p {
    color: brown;
    border: 2px solid yellowgreen;
    padding: 10px;
    text-align:center ;
}